<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Ensure proper scaling -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Link to my stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- Nav links -->
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <!-- Footer with and external links to github and linkedin -->
        <p> 2025 Xavier De Almeida | <a href="https://github.com/Chev-v">GitHub</a> | <a href="https://www.linkedin.com/in/xavier-de-almeida-8a22a82bb/">LinkedIn</a></p>
    </footer>
</body>
</html>
