<section>
    <h1>Contact Me</h1>

    <p>Email: <a href="mailto:20Xavier.Almeida05@gmail.com">20Xavier.Almeida05@gmail.com</a></p>

    <p>LinkedIn: <a href="https://www.linkedin.com/in/xavier-de-almeida-8a22a82bb/">LinkedIn Profile</a></p>

    <br>

    <!-- Added a mail to link so it will open the Microsoft Mail app with my email already entered in the "To:" Section -->
    <a href="mailto:20Xavier.Almeida05@gmail.com?subject=Contact">
        <button>Send Email</button>
    </a>

</section>
