<!-- Shows the error status and msg -->
<h1>{{status}} - Page Not Found</h1>

<!-- Shows the error message from Express -->
<p>{{message}}</p>

<!-- Displays a link back to the home page -->
<a href="/">Go Back Home</a>
