<section>
    <h1>Welcome to My Portfolio</h1>
    <p>Hello! I'm Xavier De Almeida, I am currently studying at Georgian College Barrie. </p>
    <img src="/images/Me.jpg" alt="Xavier De Almeida" width="200">
    <p> My current program is Computer Programming and Analysis. Im deeply interested in the coding world and cant wait to learn more to develop the coder I am.</p>
    <p>This is my portfolio, it was created using Handlebars, Javascript, some minor CSS and Express. </p>
    <p>Check out my projects and feel free to contact me!</p>
</section>
