<section>
    <h1>My Projects</h1>

    <div style="text-align: center; margin-bottom: 40px;">
        <img src="/images/Plant.png" alt="Plant" width="50" height="50">
        <br><br>
        <strong>Plant Care App</strong> - A project a partner and I created to monitor and upkeep a variety of plants. 
        These calculations are accurate and can be used in everyday life.
        <br>
        <a href="https://github.com/Chev-v/PlantCare" target="_blank">GitHub Repository</a>
    </div>

    <div style="text-align: center; margin-bottom: 40px;">
        <img src="/images/Turbo.jpg" alt="Turbo Site" width="50" height="50">
        <br><br>
        <strong>Turbo Distributor Site</strong> - A project I completed to mimic a dropshipping website created from HTML and CSS.
        It was a simple design yet effective.
        <br>
        <a href="https://github.com/Chev-v/TurboSite" target="_blank">GitHub Repository</a>
    </div>

    <div style="text-align: center; margin-bottom: 40px;">
        <img src="/images/Bank.jpg" alt="Bank App" width="50" height="50">
        <br><br>
        <strong>Banking Simulator</strong> - This was an app/interface I created to simulate a bank and a user with an account. 
        This app was created in Java and worked very well.
        <br>
        <a href="https://github.com/Chev-v/Assignment-2" target="_blank">GitHub Repository</a>
    </div>

        <div style="text-align: center; margin-bottom: 40px;">
        <img src="/images/Boxer.jpg" alt="Engine Rebuild" width="50" height="50">
        <br><br>
        <strong>My Cars engine Rebuild & More</strong> - This is a project that Ive loved working on, Ive fully restored the engine with new internals and many other fun things.
        This is just a showcase of some of my work and things I've completed.
        <br>
        <a href="https://drive.google.com/drive/folders/1-42RjepYOclkE2do8q1fSGv5TNcuqiwP?usp=sharing" target="_blank">Google Drive</a>
    </div>

</section>
